body {
    margin: 0;
}

.container {
    max-width: 640px;
}

.img-responsive {
    height: 125px;
    width: 125px;
    margin: 10px auto;
}

h2 {
    font-size: 25px;
    text-align: center;
}

footer {
    padding: 10px;
    font-size: 12px;
    background-color: #222222;
    color: white;
    text-align: center;
}

.carousel {
    background-color: #222222;
}

.carousel img {
    max-height: 400px;
    margin: auto;
}
