body {
    margin: 50px 0 0 0;
}

.jumbotron {
    height: 400px;
    background-image: url(../img/1.jpg);
    background-size: cover;
    margin-bottom: 20px;
    color: cornsilk;
}

h2 {
    font-size: 25px;
    text-align: center;
}

.footer {
    font-size: 10px;
    text-align: center;
    padding: 20px;
}
