body {
    box-sizing: border-box;
    padding-top: 50px;
    margin: 0;
}

nav {
    background-color: black;
}

.navbar-nav {
    float: right;
}

.item {
    max-height: 650px;
}

.text {
    position: absolute;
    top: 20%;
    left: 30%;
    width: 50%;
    z-index: 2;
    color: white;
}

.text img {
    max-height: 40px;
}

.text h2 {
    text-transform: uppercase;
}

.text p {
    font-size: 10px;
}

h1 {
    text-transform: uppercase;
}

.bottom {
    height: 80px;
    background: red;
    padding: 20px 0px;
    width: auto;
}

.button {
    display: none;
}

.program:hover .button {
    display: inline-block;
    margin: 0 auto;
}
